[project]
	description = An in-memory K/V and LRU cache library. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/maemual (maemual)
[access "refs/for/refs/*"]
	read = group user/maemual (maemual)
	push = group user/maemual (maemual)
	label-Code-Review = -2..+2 group user/maemual (maemual)
	label-Verified = -1..+1 group user/maemual (maemual)
	rebase = group user/maemual (maemual)
	removeReviewer = group user/maemual (maemual)
	submit = group user/maemual (maemual)
[access "refs/heads/*"]
	read = group user/maemual (maemual)
	create = group user/maemual (maemual)
	push = +force group user/maemual (maemual)
	pushMerge = group user/maemual (maemual)
[access "refs/tags/*"]
	push = +force group user/maemual (maemual)
	pushTag = group user/maemual (maemual)
	pushSignedTag = group user/maemual (maemual)
